[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyproject-toml = "==0.0.9"
psycopg2 = "==2.9.8"

[dev-packages]

[requires]
python_version = "3.11"
